#app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-style: italic;
  background-color: rgb(42,42,54);
}

#appText {
  text-align: center;
  animation-name: appText;
  animation-duration: 1s;
}

@keyframes appText {
  from {
    opacity: 0.25;
    margin-bottom: 100px;
  }
  to {
    opacity: 1;
    margin-bottom: 0;
  }
}
