#wrapper {
  height: 100vh;
  background-color: rgb(56, 56, 80);
}

#call {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: calc(100vh - 4rem);
}

#videoWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#bottomBar {
  height: 4rem;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(42, 42, 54);
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.bottomBarBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
  cursor: pointer;
}

.bottomBarBtn p {
  font-size: x-small;
  color: rgb(236, 236, 236);
}

.leaveBtn {
  background-color: rgb(189, 39, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  padding: 0.25rem 1.5rem;
  cursor: pointer;
  border-radius: 8px;
}


